{{define "index.html"}}
<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="{{ .favicon }}">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title>{{ .title }}</title>
		<style>
			body{
				background: url("{{ .Background }}") no-repeat;
			}
			.footer-contents a:hover {
				color: {{ .AColorHover }}
			}
			a {
				color: {{ .AColor }};
				text-decoration: none
			}
		</style>
	</head>
	<body>
		<div id="wrap">
			<div id="top">
				<div id="logo">
					<img class="logo" src="{{ .logo }}">
					<h1>{{ .title }}</h1>
					<div id="kg-btn" class="">
						<input class='tgl tgl-flip' id='qieh' type='checkbox' />
						<label class='tgl-btn' data-tg-off='外网' data-tg-on='内网' for='qieh'></label>
					</div>
				</div>
			</div>
			<div id="main">
			<!-- 外网访问地址 -->
				<div id="app" class="app animated fadeInLeft">
					<ul>
						{{range $d := .data}}
							<li>
								<a href="{{$d.WLink}}" target="_blank"><img class="shake" src="{{$d.Ico}}" /><strong>{{$d.Title}}</strong></a>
							</li>
						{{end}}
					</ul>
				</div>
				<!-- 内网网访问地址 -->
				<div id="app1" class="app animated fadeInRight">
					<ul>
						{{range $d := .data}}
							<li>
								<a href="{{$d.NLink}}" target="_blank"><img class="shake" src="{{$d.Ico}}" /><strong>{{$d.Title}}</strong></a>
							</li>
						{{end}}
					</ul>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
		<div id="footer">
			<div class="footer-contents">
				<div class="links">
					<div class="line">
						<li>
						<a href="{{.FooterTitleLink}}" target="_blank">{{.FooterTitle}}</a>&nbsp;&nbsp;&nbsp;
						<span class="footer-link-separator"></span>&nbsp;&nbsp;&nbsp;
						<span class="copyright">{{.FooterTextDataOne}}</span>
						<span class="footer-link-separator"></span>&nbsp;&nbsp;&nbsp;
						<a href="{{.FooterTextDataTwoLink}}" target="_blank"><span class="copyright">{{.FooterTextDataTwo}}</span></a>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery.min.js"></script>
	</body>

</html>
{{end}}