{{define "index.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="{{ .favicon }}">
{{/*        <link rel="stylesheet" type="text/css" href="css/style1.css"/>*/}}
        <link rel="stylesheet" type="text/css" href="css/style.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css">
        <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"></script>
        <title>{{ .title }}</title>
        <style>
            body {
                background-size: auto;
                background: url("{{ .Background }}") repeat scroll left top;
            }
            a {
                color: {{ .AColor }};
                text-decoration: none
            }
            #footer {
                color: {{ .AColor }};
            }
        </style>
    </head>
    <body>
    <div id="wrap">
        <div id="top">
            <div id="logo">
                <img class="logo" src="{{ .logo }}">
                <h1>{{ .title }}</h1>
                {{if .IsLogin}}
                    <div id="kg-btn" class="">
                        <input class='tgl tgl-flip' id='qieh' type='checkbox'/>
                        <label class='tgl-btn' data-tg-off='外网' data-tg-on='内网' for='qieh'></label>
                    </div>
                {{else}}

                {{end}}
            </div>
        </div>
        <div id="main">

            {{if .IsLogin}}
                <!-- 外网访问地址 -->
                <div id="app" class="app animated fadeInLeft">
                    <ul>
                        {{range $d := .data}}
                            <li>
                                <a href="{{$d.WLink}}" target="_blank"><img class="shake"
                                                                            src="{{$d.Ico}}"/><strong>{{$d.Title}}</strong></a>
                            </li>
                        {{end}}
                    </ul>
                </div>
                <!-- 内网网访问地址 -->
                <div id="app1" class="app animated fadeInRight">
                    <ul>
                        {{range $d := .data}}
                            <li>
                                <a href="{{$d.NLink}}" target="_blank"><img class="shake"
                                                                            src="{{$d.Ico}}"/><strong>{{$d.Title}}</strong></a>
                            </li>
                        {{end}}
                    </ul>
                </div>
                <div style="clear: both;"></div>
                <!-- 页脚 -->
                <div id="footer" style="text-align: center; margin: 40px 0 40px 0; font-family: MyriadSetPro-Thin;">
                    网站信息
                    {{range $d := .text}}
                        {{ if $d.TextLink }}
                            &ensp;&ensp;|&ensp;&ensp;<a href="{{ $d.TextLink }}">{{ $d.Text }}</a>
                        {{ else }}
                            &ensp;&ensp;|&ensp;&ensp;{{ $d.Text }}
                        {{end}}
                    {{end}}
                </div>
            {{else}}
                <div class="box">
                    <form action="/login" method="post">
                        <div class="mdui-textfield mdui-textfield-floating-label">
                            <i class="mdui-icon material-icons">lock</i>
                            <label class="mdui-textfield-label">密码</label>
                            <input class="mdui-textfield-input" type="password" id="password" name="password"/>
                        </div>
                        <div style="text-align: center; padding-top: 20px;">
                            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue-50" style="width: 200px;" id="LoginBtn">登录</button>
                        </div>
                    </form>
                </div>
                <div style="clear: both;"></div>
                <!-- 页脚 -->
                <div id="footer" style="text-align: center; font-family: MyriadSetPro-Thin; margin-top: 420px">
                    网站信息
                    {{range $d := .text}}
                        {{ if $d.TextLink }}
                            &ensp;&ensp;|&ensp;&ensp;<a href="{{ $d.TextLink }}">{{ $d.Text }}</a>
                        {{ else }}
                            &ensp;&ensp;|&ensp;&ensp;{{ $d.Text }}
                        {{end}}
                    {{end}}
                </div>
            {{end}}
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    </body>
    </html>
{{end}}